<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>你，还在犹豫什么；你，值得拥有！</string>
		<key>time</key>
		<string>5月14日~5月21日</string>
		<key>place</key>
		<string>水生生物博物馆</string>
		<key>url</key>
		<string>https://github.com/bqlin/Ocean/blob/master/Activity/%E4%BD%A0%EF%BC%8C%E8%BF%98%E5%9C%A8%E7%8A%B9%E8%B1%AB%E4%BB%80%E4%B9%88%EF%BC%9B%E4%BD%A0%EF%BC%8C%E5%80%BC%E5%BE%97%E6%8B%A5%E6%9C%89%EF%BC%81.md</string>
		<key>titleImage</key>
		<string>http://i4.buimg.com/6d7e41f2693e887a.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>流沙湾之旅</string>
		<key>time</key>
		<string>2015年11月22日</string>
		<key>place</key>
		<string>流沙湾</string>
		<key>url</key>
		<string>http://mp.weixin.qq.com/s?__biz=MzAxMDA1MjUyOQ==&amp;mid=401146399&amp;idx=1&amp;sn=8c3c1f514d0646facaa46d4ef7fcff71&amp;scene=1&amp;srcid=05116n67i4cJynuT6nTqekpj&amp;from=singlemessage&amp;isappinstalled=0#wechat_redirect</string>
		<key>titleImage</key>
		<string>http://mmbiz.qpic.cn/mmbiz/cFwZOicMEXEvoOcMShgpBibH18aSicOZNzRzDxmuiczB631iaic2MyrRx8tIU7tUg2Kia2TBdyCdqeynaVEWJ2vYpgzcg/640?wx_fmt=jpeg&amp;tp=webp&amp;wxfrom=5&amp;wx_lazy=1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>特呈岛科普探险之旅！</string>
		<key>time</key>
		<string>5月14日~5月21日</string>
		<key>place</key>
		<string>特呈岛</string>
		<key>url</key>
		<string>http://mp.weixin.qq.com/s?__biz=MzAxMDA1MjUyOQ==&amp;mid=204443476&amp;idx=1&amp;sn=789228ed140752d04e13600a792ca9c3&amp;scene=1&amp;srcid=0511xTW0z3QkE3CY7wjyeWPM&amp;from=singlemessage&amp;isappinstalled=0#wechat_redirect</string>
		<key>titleImage</key>
		<string>http://mmbiz.qpic.cn/mmbiz/cFwZOicMEXEsN2sdkd7xjssXK9xyAfNtxoViaicaSsFpLedEpVyTXIExvRQcwbxNibAWE7z8wVGdzxpNZR9l3FfqSA/640?tp=webp&amp;wxfrom=5&amp;wx_lazy=1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>湛江日报社小记者团在博物馆举行海洋生物科普教育活动</string>
		<key>time</key>
		<string>4月23日</string>
		<key>place</key>
		<string>水生生物博物馆</string>
		<key>url</key>
		<string></string>
		<key>titleImage</key>
		<string>http://i4.buimg.com/ba319683cd82ad9d.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>博物馆组织千人中小学生进行“海洋珍稀动物及保护”科普教育活动</string>
		<key>time</key>
		<string>4月20日</string>
		<key>place</key>
		<string>水生生物博物馆</string>
		<key>url</key>
		<string></string>
		<key>titleImage</key>
		<string>http://i4.buimg.com/82ceb39c526cd53e.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>广东海洋大学水生生物博物馆2016年科普活动计划安排</string>
		<key>time</key>
		<string></string>
		<key>place</key>
		<string>水生生物博物馆</string>
		<key>url</key>
		<string></string>
		<key>titleImage</key>
		<string>http://7xrn7f.com1.z0.glb.clouddn.com/16-5-11/22543979.jpg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>海洋科普实践系列活动──红树林生物多样性及保护资源调查</string>
		<key>time</key>
		<string>4月8日至4月10日</string>
		<key>place</key>
		<string>水生生物博物馆</string>
		<key>url</key>
		<string></string>
		<key>titleImage</key>
		<string>http://i4.buimg.com/b6f7f05f7c9f4655.png</string>
	</dict>
</array>
</plist>
